
<div class="row" style="margin-top:50px;">
    <div class="col-md-offset-2 col-md-8">

        <div class="panel panel-default">
            <div class="panel-body">

                <h5 class="text-center">You do not have permission to access this resource.</h5>

                <div class="row hidden-xs">
                    <div class="col-xs-11">Resource Permisssions</div>
                    <div class="col-xs-1">You</div>
                </div>

                <div class="row" *ngFor="let rp of RequiredPermissions">
                    <div class="col-xs-11" style="font-size:16px;font-weight:bold;" [ngStyle]="{ color: hasPermission(rp) ? 'inherit' : '#c00' }">
                        {{ rp }}
                    </div>
                    <div class="col-xs-1 hidden-xs">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="hasPermission(rp)" style="font-size:20px;"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" *ngIf="! hasPermission(rp)" style="font-size:20px; color:#C00;"></span>
                    </div>
                </div>

                <div>
                    <p>&nbsp;</p>
                    <p class="text-center">Ask your admin for the required access privileges.</p>
                </div>

            </div>
        </div>

    </div>
</div>
