
<div class="row">

    <div class="col-md-4 col-md-offset-4" style="padding-top:50px">

        <div class="panel panel-default">
            <div class="panel-body">

                <div *ngIf="! isSuccess">

                    <h4 class="text-center">Forgot your password?</h4>

                    <form class="form-horizontal" (ngSubmit)="onSubmit()" #recoverForm="ngForm">

                        <div class="form-group" [class.has-error]="! isEmailValid(username.value)">
                            <label class="col-md-3 control-label" for="dev-login-username">Email</label>
                            <div class="col-md-9">
                                <input class="form-control" id="dev-login-username" type="email" required
                                       [(ngModel)]="email" name="username" #username="ngModel" >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                Your password must be at least 8 characters with upper &amp; lowercase, numbers and special characters (!@#$, etc.).
                            </div>
                        </div>

                        <div class="form-group" [class.has-error]="! isPasswordValid(password.value)">
                            <label class="col-md-3 control-label" for="reg-password">Password</label>
                            <div class="col-md-9">
                                <input class="form-control" id="reg-password" type="password" minlength="8" required
                                       [(ngModel)]="newPassword" name="password" #password="ngModel" >
                                <span class="help-block">A valid <strong>password</strong> is required.</span>
                            </div>
                        </div>

                        <div class="form-group" [class.has-error]="! passwordsMatch()">
                            <div class="col-md-9 col-md-offset-3">
                                <input class="form-control" id="reg-passwordVerify" type="password" minlength="8" required
                                       placeholder="Re-enter the password"
                                       [(ngModel)]="newPasswordVerify" name="passwordVerify" #passwordVerify="ngModel">
                                <span class="help-block">Your <strong>password fields</strong> must match.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <teleport-sp-recaptcha theme="light" sitekey="6Lf3RBETAAAAAKtkTgxjrn9AnYlhcfvh0tS7hFZo" [onReset]="resetCaptchaObservable()" (callback)="onCaptcha($event, true)" (expiredCallback)="onCaptcha($event, false)"></teleport-sp-recaptcha>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-success" type="submit" [disabled]="! (recoverForm.form.valid && passwordsMatch() && isCaptchaOk && isEmailValid(username.value) && isPasswordValid(password.value))">Reset Password</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div *ngIf="isSuccess">

                    <h5 class="text-center">Congrats! Your new password is ready.</h5>

                    <p class="text-center"><a class="btn btn-link" [routerLink]="['/login']">Login with your new password...</a></p>

                </div>

            </div>
        </div>
    </div>

</div>

<teleport-loader-ui></teleport-loader-ui>
