
<h4>
    Application Credentials (API Key)
    <button type="button" class="btn btn-link" (click)="createCred()" [allowAccess]="'account.applications.credentials.create'">Generate New API Key</button>
</h4>

<p>
    Application Credentials are for Application-level API requests, including Phone Number, Call Flow, Voice, and SMS features.
</p>

<table *ngIf="Credentials" class="table">

    <thead>
        <tr>
            <th>Products</th>
            <th>Issued At</th>
            <th>API Key</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cred of Credentials">
            <th>{{ cred.products.join(", ") }}</th>
            <td>{{ cred.issuedAt | date:"short" }}</td>
            <td>
                <input title="API Key" class="form-control" type="password" [value]="cred.apiKey" (focus)="apiKeyInputFocus($event)" (blur)="apiKeyInputBlur($event)"
                       [allowAccess]="'account.applications.credentials.read'" readonly>
            </td>
            <td class="text-right">
                <button type="button" class="btn btn-link" (click)="deleteCred(cred)" [allowAccess]="'account.applications.credentials.delete'">Delete</button>
            </td>
        </tr>
    </tbody>

</table>

<h5 class="text-center" [hidden]="Credentials">Madness! You must have at least one API key.</h5>


<p>&nbsp;</p>


<h4>
    Account Credentials (Basic Auth)
    <button type="button" class="btn btn-link" [routerLink]="['/v1/account/credentials']" [allowAccess]="'account.credentials.read'">View Account Credentials</button>
</h4>

<p>
    Basic Auth Credentials are used for all Account-level API requests and can be found under your
    <a [routerLink]="['/v1/account/credentials']" [allowAccess]="'account.credentials.read'">Account Credentials</a>.
</p>

<div class="full-block-busy" *ngIf="isBusy"></div>
